.elementor-712 .elementor-element.elementor-element-ada2b71 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 253px 0px 214px 0px;
}
.elementor-712
  .elementor-element.elementor-element-ada2b71
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-712
  .elementor-element.elementor-element-b8daf28
  > .elementor-element-populated {
  text-align: center;
  padding: 0px 0px 0px 0px;
}
.elementor-712
  .elementor-element.elementor-element-9e0ab24
  > .elementor-widget-container {
  padding: 0% 4% 0% 0%;
}
.elementor-712
  .elementor-element.elementor-element-c305c26
  > .elementor-widget-container {
  margin: 36px 0px 0px 0px;
  padding: 0% 0% 0% 12%;
}
.elementor-712
  .elementor-element.elementor-element-eee3692
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-712
  .elementor-element.elementor-element-25a8bfa:not(.elementor-motion-effects-element-type-background),
.elementor-712
  .elementor-element.elementor-element-25a8bfa
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-712 .elementor-element.elementor-element-25a8bfa {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 150px 0px 100px 0px;
}
.elementor-712
  .elementor-element.elementor-element-25a8bfa
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-712
  .elementor-element.elementor-element-bcbfa0d.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-712
  .elementor-element.elementor-element-bcbfa0d.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-712
  .elementor-element.elementor-element-bcbfa0d
  > .elementor-element-populated {
  padding: 2% 23% 0% 37%;
}
.elementor-712
  .elementor-element.elementor-element-7736ca8
  > .elementor-widget-container {
  padding: 13px 0px 0px 0px;
}
.elementor-712
  .elementor-element.elementor-element-1e9ae02
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0% 0% 0% 7%;
}
.elementor-712
  .elementor-element.elementor-element-1e9ae02
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-712
  .elementor-element.elementor-element-eaceebf:not(.elementor-motion-effects-element-type-background),
.elementor-712
  .elementor-element.elementor-element-eaceebf
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-712 .elementor-element.elementor-element-eaceebf {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 52px 0px 136px 0px;
}
.elementor-712
  .elementor-element.elementor-element-eaceebf
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-712
  .elementor-element.elementor-element-058fde6
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0% 7% 0% 0%;
}
.elementor-712
  .elementor-element.elementor-element-058fde6
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-712
  .elementor-element.elementor-element-e656979.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-712
  .elementor-element.elementor-element-e656979.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-712
  .elementor-element.elementor-element-e656979
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  text-align: right;
  padding: 1% 37% 0% 23%;
}
.elementor-712
  .elementor-element.elementor-element-e656979
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-712
  .elementor-element.elementor-element-57c86e9
  > .elementor-widget-container {
  padding: 13px 0px 0px 0px;
}
.elementor-712
  .elementor-element.elementor-element-4fa19c0:not(.elementor-motion-effects-element-type-background),
.elementor-712
  .elementor-element.elementor-element-4fa19c0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-712 .elementor-element.elementor-element-4fa19c0 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-712
  .elementor-element.elementor-element-4fa19c0
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-712
  .elementor-element.elementor-element-62dea7d
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-712
  .elementor-element.elementor-element-85a8353
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-712
  .elementor-element.elementor-element-b976eef:not(.elementor-motion-effects-element-type-background),
.elementor-712
  .elementor-element.elementor-element-b976eef
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-712 .elementor-element.elementor-element-b976eef {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 0px 0px;
}
.elementor-712
  .elementor-element.elementor-element-b976eef
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-712
  .elementor-element.elementor-element-c764dbc
  > .elementor-element-populated {
  padding: 0% 3% 0% 35%;
}
.elementor-712
  .elementor-element.elementor-element-83043b7
  > .elementor-element-populated {
  padding: 0% 30% 0% 6%;
}
.elementor-712
  .elementor-element.elementor-element-d9d0faf
  > .elementor-widget-container {
  margin: -36px 0px 0px 0px;
  padding: 0% 0% 0% 52%;
}
.elementor-712
  .elementor-element.elementor-element-f2e24a7:not(.elementor-motion-effects-element-type-background),
.elementor-712
  .elementor-element.elementor-element-f2e24a7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-712 .elementor-element.elementor-element-f2e24a7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 77px 0px 50px 0px;
}
.elementor-712
  .elementor-element.elementor-element-f2e24a7
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-712
  .elementor-element.elementor-element-06c2292
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-712
  .elementor-element.elementor-element-e037327:not(.elementor-motion-effects-element-type-background),
.elementor-712
  .elementor-element.elementor-element-e037327
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-712 .elementor-element.elementor-element-e037327 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 10px 0px 110px 0px;
}
.elementor-712
  .elementor-element.elementor-element-e037327
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-712
  .elementor-element.elementor-element-9b1683a
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-712 .elementor-element.elementor-element-b2ab738 {
  padding: 295px 0px 20px 0px;
}
.elementor-712
  .elementor-element.elementor-element-5d095eb
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-712
  .elementor-element.elementor-element-9aa09a1.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-712
  .elementor-element.elementor-element-9aa09a1
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-712 .elementor-element.elementor-element-8e9b11b {
  text-align: right;
  font-family: "Lato", Sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-712 .elementor-element.elementor-element-058fde6 {
    width: 50%;
  }
  .elementor-712 .elementor-element.elementor-element-e656979 {
    width: 50%;
  }
}
@media (max-width: 1440px) {
  .elementor-712 .elementor-element.elementor-element-ada2b71 {
    padding: 170px 0px 140px 0px;
  }
  .elementor-712
    .elementor-element.elementor-element-c305c26
    > .elementor-widget-container {
    padding: 0% 0% 0% 19%;
  }
  .elementor-712
    .elementor-element.elementor-element-bcbfa0d
    > .elementor-element-populated {
    padding: 0% 23% 0% 37%;
  }
  .elementor-712 .elementor-element.elementor-element-f2e24a7 {
    padding: 85px 0px 50px 0px;
  }
}
@media (max-width: 1024px) {
  .elementor-712
    .elementor-element.elementor-element-c305c26
    > .elementor-widget-container {
    padding: 0% 0% 0% 23%;
  }
  .elementor-712
    .elementor-element.elementor-element-bcbfa0d
    > .elementor-element-populated {
    padding: 0% 19% 0% 22%;
  }
  .elementor-712
    .elementor-element.elementor-element-6315c1c
    > .elementor-widget-container {
    margin: -8px 0px 0px 0px;
  }
  .elementor-712
    .elementor-element.elementor-element-1e9ae02
    > .elementor-element-populated {
    padding: 0% 0% 0% 0%;
  }
  .elementor-712
    .elementor-element.elementor-element-058fde6
    > .elementor-element-populated {
    padding: 0% 0% 0% 0%;
  }
  .elementor-712
    .elementor-element.elementor-element-e656979
    > .elementor-element-populated {
    padding: 0% 23% 0% 17%;
  }
  .elementor-712 .elementor-element.elementor-element-b976eef {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px 0px 0px;
  }
  .elementor-712
    .elementor-element.elementor-element-c764dbc
    > .elementor-element-populated {
    padding: 0% 3% 0% 22%;
  }
  .elementor-712
    .elementor-element.elementor-element-83043b7
    > .elementor-element-populated {
    padding: 0% 22% 0% 6%;
  }
  .elementor-712 .elementor-element.elementor-element-f2e24a7 {
    padding: 99px 0px 50px 0px;
  }
  .elementor-712
    .elementor-element.elementor-element-06c2292
    > .elementor-element-populated {
    padding: 0px 10px 0px 10px;
  }
  .elementor-712
    .elementor-element.elementor-element-9aa09a1
    > .elementor-element-populated {
    margin: -11px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
}
@media (max-width: 880px) {
  .elementor-712
    .elementor-element.elementor-element-9e0ab24
    > .elementor-widget-container {
    padding: 0% 5% 0% 0%;
  }
  .elementor-712
    .elementor-element.elementor-element-c305c26
    > .elementor-widget-container {
    padding: 0% 0% 0% 31%;
  }
  .elementor-712
    .elementor-element.elementor-element-bcbfa0d
    > .elementor-element-populated {
    padding: 0px 53px 0px 53px;
  }
  .elementor-712
    .elementor-element.elementor-element-1e9ae02
    > .elementor-element-populated {
    padding: 70px 0px 0px 0px;
  }
  .elementor-712
    .elementor-element.elementor-element-1d0db4c
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-712 .elementor-element.elementor-element-eaceebf {
    padding: 0px 0px 100px 0px;
  }
  .elementor-712
    .elementor-element.elementor-element-e656979
    > .elementor-element-populated {
    padding: 60px 53px 0px 53px;
  }
  .elementor-712 .elementor-element.elementor-element-b976eef {
    padding: 20px 53px 0px 53px;
  }
  .elementor-712
    .elementor-element.elementor-element-c764dbc
    > .elementor-element-populated {
    padding: 0% 5% 0% 0%;
  }
  .elementor-712
    .elementor-element.elementor-element-83043b7
    > .elementor-element-populated {
    padding: 0% 0% 0% 5%;
  }
  .elementor-712 .elementor-element.elementor-element-f2e24a7 {
    padding: 94px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-712 .elementor-element.elementor-element-ada2b71 {
    padding: 90px 0px 100px 0px;
  }
  .elementor-712
    .elementor-element.elementor-element-9e0ab24
    > .elementor-widget-container {
    padding: 0% 14% 0% 0%;
  }
  .elementor-712
    .elementor-element.elementor-element-c305c26
    > .elementor-widget-container {
    margin: -15px 0px 0px 0px;
    padding: 0% 0% 0% 20%;
  }
  .elementor-712 .elementor-element.elementor-element-25a8bfa {
    padding: 130px 0px 130px 0px;
  }
  .elementor-712 .elementor-element.elementor-element-bcbfa0d {
    width: 100%;
  }
  .elementor-712
    .elementor-element.elementor-element-bcbfa0d
    > .elementor-element-populated {
    padding: 0px 22px 0px 22px;
  }
  .elementor-712
    .elementor-element.elementor-element-1e9ae02
    > .elementor-element-populated {
    padding: 70px 22px 0px 22px;
  }
  .elementor-712 .elementor-element.elementor-element-eaceebf {
    padding: 0px 0px 120px 0px;
  }
  .elementor-712
    .elementor-element.elementor-element-058fde6
    > .elementor-element-populated {
    padding: 0px 22px 0px 22px;
  }
  .elementor-712
    .elementor-element.elementor-element-e656979
    > .elementor-element-populated {
    padding: 60px 22px 0px 22px;
  }
  .elementor-712 .elementor-element.elementor-element-b976eef {
    padding: 20px 24px 0px 24px;
  }
  .elementor-712
    .elementor-element.elementor-element-c764dbc
    > .elementor-element-populated {
    padding: 0% 0% 0% 0%;
  }
  .elementor-712 .elementor-element.elementor-element-35802ae {
    text-align: center;
  }
  .elementor-712
    .elementor-element.elementor-element-83043b7
    > .elementor-element-populated {
    padding: 0% 0% 0% 0%;
  }
  .elementor-712 .elementor-element.elementor-element-55504de {
    text-align: center;
  }
  .elementor-712 .elementor-element.elementor-element-f2e24a7 {
    padding: 110px 0px 50px 0px;
  }
  .elementor-712
    .elementor-element.elementor-element-06c2292
    > .elementor-element-populated {
    padding: 0px 24px 0px 24px;
  }
  .elementor-712 .elementor-element.elementor-element-e037327 {
    padding: 0px 24px 0px 24px;
  }
  .elementor-712
    .elementor-element.elementor-element-54f0308
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-712 .elementor-element.elementor-element-b2ab738 {
    padding: 120px 0px 0px 0px;
  }
  .elementor-712 .elementor-element.elementor-element-5d095eb {
    width: 100%;
  }
  .elementor-712
    .elementor-element.elementor-element-5d095eb.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-712 .elementor-element.elementor-element-04652b5 {
    width: auto;
    max-width: auto;
  }
  .elementor-712 .elementor-element.elementor-element-9aa09a1 {
    width: 100%;
  }
  .elementor-712
    .elementor-element.elementor-element-9aa09a1.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-start;
  }
  .elementor-712
    .elementor-element.elementor-element-9aa09a1
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-712 .elementor-element.elementor-element-8e9b11b {
    text-align: center;
  }
  .elementor-712
    .elementor-element.elementor-element-8e9b11b
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 13px 0px;
  }
}
@media (max-width: 880px) and (min-width: 768px) {
  .elementor-712 .elementor-element.elementor-element-bcbfa0d {
    width: 100%;
  }
  .elementor-712 .elementor-element.elementor-element-1e9ae02 {
    width: 100%;
  }
  .elementor-712 .elementor-element.elementor-element-058fde6 {
    width: 100%;
  }
  .elementor-712 .elementor-element.elementor-element-e656979 {
    width: 100%;
  }
}
